/* font-family: 'Happy Monkey', cursive;
font-family: 'Luckiest Guy', cursive; 
font-family: 'Didact Gothic', sans-serif;*/

/* Font Sizes */
:root {
    --fs-p: clamp(0.75rem, 0.75rem + 1vw, 1rem);
    --fs-h1: clamp(1.875rem, -0.7212rem + 7.2115vw, 3.75rem);
    --fs-h3: clamp(1.25rem, 0.3846rem + 2.4038vw, 1.875rem);
    --fs-h4: clamp(1rem, 1rem + 2.vw, 2rem);
    --fs-small: clamp(0.5rem, 0.5rem + .75vw, .75rem);
    --icon-size: clamp(5rem, 4rem + 12vw, 8rem);
    --fs-nav: clamp(1rem, 0.5rem + 1.75vw, 1.3rem);
    --fs-button: clamp(.25rem, 0.3846rem + 2.4038vw, 1.875rem);
}

/* FONTS */
small {
    font-size: var(--fs-small);
}
h1, h3, .navbar-brand {
    font-family: 'Luckiest Guy', cursive;
}

h2, h4, button, a, .navbar-nav {
    font-family: 'Happy Monkey', cursive;
}
p, label {
    font-family: 'Didact Gothic', sans-serif;
    font-size: var(--fs-p);
}
h1 {
    font-size: var(--fs-h1);
}
h3 {
    font-size: var(--fs-h3);
}
h4 {
    font-size: var(--fs-h4)
}
/* NAVBAR */
.nav-link, .navbar-brand {
    font-size: var(--fs-nav);
}
.nav-item {
    margin-left: 25px;
}
.bg-body-tertiary {
    --bs-bg-opacity: 0;
}
/* SPLASHSCREEN */
.splash-screen {
    /* background-image: url('../img/maxime-bhm-icyZmdkCGZ0-unsplash.jpg'); */
    /* background-size: cover; */
    height: 85vh;
}

.square-btn, .pill-btn {
    color: black;
    text-decoration: none;
    font-size: var(--fs-button);
    padding: 5px 35px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: transparent;
}

.pill-btn {
    display: inline-block;
    width: 100%;
    border-radius: 50px;
}

.card-icon {
    width: var(--icon-size);
    margin: auto;
    padding-bottom: 2rem;
}

.sponsor-img {
    border: 4px solid black;
    border-radius: 25px;
}
.form-check label {
    font-size: .75rem;
}
.card {
    padding: 15px 25px;
    margin-bottom: 20px;
    border-radius: 25px;
}
.row {
    justify-content: center;
}
img.rounded {
    border-radius: 20px!important;
}